version: '3.9'
services:
  certificate-service:
    build: ./certificate-service
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    depends_on:
      - mongo
      - redis
      - rabbitmq

  course-service:
    build: ./course-service
    ports:
      - "4100:4100"
    env_file:
      - ./.env
    depends_on:
      - mongo
      - redis
      - rabbitmq

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo-data:
